@charset "utf-8";
/* CSS Document */

/*区块背景测试---------------------------------------------------------------*/
.test-back1{
	background:#F00;
	}
.test-back2{
	background:#0F0;
	}
.test-back3{
	background:#00F;
	}
.test-back4{
	background:#FF0;
	}
.test-back5{
	background:#0FF;
	}
.test-back6{
	background:#F0F;
	}

/*高度测试---------------------------------------------------------------*/
.test-height200{
	height:200px;
	}
.test-height400{
	height:400px;
	}
.test-height600{
	height:600px;
	}
.test-height800{
	height:800px;
	}



/* CSS reset---------------------------------------------------------------*/
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4 ,h5,h6,pre,form,fieldset,input,textarea,p,blockquote,th,td{ margin:0; padding:0;}

table { border-collapse:collapse; border-spacing:0;}

fieldset,img { border:0;}

adderss,caption,cite,code,dfn,em,strong,th,var{ font-style:normal; font-weight:normal;}

ol,ul { list-style:none;}

caption,th { text-align:left;}

h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal;}

q:before,q:after { border:0;}

abbr,acronym {border:0}



/*定位---------------------------------------------------------------*/

.tl { text-align: left; }

.tc { text-align: center; }

.tr { text-align: right; }

.bc { margin-right: auto; margin-left: auto; }

.fl { display: inline; float: left; }

.fr { display: inline; float: right; }

.cb { clear: both; }

.cl { clear: left; }

.cr { clear: right; }

.vm { vertical-align: middle; }

.vt { vertical-align:text-bottom; }

.pr { position: relative; }

.pa { position: absolute; }

.abs-right { position: absolute; right:0;}

.zoom { zoom:1}

.hidden { visibility: hidden; }

.none { display: none; }

.block { display:block;}




/*自动高度---------------------------------------------------------------*/



.clearfix:after {
	clear: both;
	display: block;
	visibility: hidden;
	height: 0;
	content: " ";
	font-size: 0
}

.clearfix {
	*zoom: 1
}

/*主框架---------------------------------------------------------------*/






/*与MyLibrary结合类---------------------------------------------------------------*/
.hora>*{
	float:left;
	}
.w100%{
	width:100%;
	}







